#container {
	margin: 5px;
}


#test1 {
    float: left;
    width: 48%;
    border: 1px solid black;
}

#test2 {
    float: right;
    width: 48%;
    border: 1px solid black;
}

footer {
    font-size: 0.75em;
    background-color: ;
    color: white;
    clear: both;
}